<ul class="nav nav-tabs profile-tabs section" role="tablist">
    <li><a href="/martPage/userInfo" id="userInfo"><span><i class="fa fa-user-o" aria-hidden="true"></i></span> 내 정보</a></li>
    <li><a href="/martPage/martInfo" id="martInfo"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> 마트 정보</a></li>
    <li><a href="/martPage/martInfo" id="martInfo"><span><i class="fa fa-person-booth" aria-hidden="true"></i></span> 입사 요청자</a></li>
    <li><a href="/martPage/scrap" id="martInfo"><span><i class="fa fa-user-check" aria-hidden="true"></i></span> 스크랩한 이력서</a></li>
</ul>	
