<ul class="nav nav-tabs profile-tabs section" role="tablist">
    <li><a href="/martPage/userInfo" id="userInfo"><i class="fa fa-user-o" aria-hidden="true"></i>내 정보</a></li>
    <li><a href="/martPage/martInfo" id="martInfo"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> 마트 정보</a></li>
</ul>	
