        <div class="job-topbar">
            <span class="pull-left">구직 가능한 마트</span>
            <ul class="nav nav-tabs job-tabs" role="tablist">
                <li>235개의 마트</li>
            </ul>				
        </div>
        

        <div class="tab-content tr-job-posted">
            <div role="tabpanel" class="tab-pane fade show active" id="four-colum">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">풀타임</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">굿모님할인마트 효성점</a>
                                        <span>정육 직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>인천광역시 계양구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>09:00 ~ 09:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>월급 3,800,000 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2" > 
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1607935677-4624.jpg" alt="images" class="img-fluid" >
                                </div>
                                <span class="tr-title">
                                    <a href="#">굿모님할인마트 효성점</a>
                                    <span>정육 직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>인천광역시 계양구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>09:00 ~ 09:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>월급 3,800,000 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span>풀 타임</span></a>
                                    <span class="pull-right">채용시까지</span>
                                </div>																				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">아르바이트</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">하모니마트 시흥능곡역</a>
                                        <span>카운터 여자알바 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기도 시흥시</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:00 ~ 22:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1614225895-1911 (1).jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">하모니마트 시흥능곡역</a>
                                    <span>카운터 여자알바 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>경기 시흥시</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>07:00 ~ 22:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>시급 8,720 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="part-time">아르바이트</span></a>
                                    <span class="pull-right">상시채용</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">단기</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">하모니마트 시흥능곡역</a>
                                        <span>야채/청과 직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기 시흥시</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>09:00 ~ 18:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>월급 2,300,000 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1614225895-1911.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">하모니마트 시흥능곡역</a>
                                    <span>야채/청과 직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>경기 시흥시</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>09:00 ~ 18:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>월급 2,300,000 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="freelance">단기</span></a>
                                    <span class="pull-right">상시채용</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">풀타임</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">홈마트 상현점</a>
                                        <span>농산직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기 용인시</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>근무시간 협의가능</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>회사 내규</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1614934255-5373.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">홈마트 상현점</a>
                                    <span>농산직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>경기 용인시</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>근무시간 협의가능</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>회사 내규</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span>풀타임</span></a>
                                    <span class="pull-right">~ 2021.04.17(토)</span>
                                </div>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">아르바이트</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">에이스마트 연희점</a>
                                        <span>마트 오후계산원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>인천광역시 서구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>16:00 ~ 22:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>월급 1,500,000 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1615255502-9157.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">에이스마트 연희점</a>
                                    <span>마트 오후계산원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>인천광역시 서구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>16:00 ~ 22:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>월급 1,500,000 원</li>
                                </ul>	
                                <div class="time">
                                    <a href="#"><span class="part-time">아르바이트</span></a>
                                    <span class="pull-right">채용시까지</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">단기</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">국민홈식자재마트</a>
                                        <span>청정원대리점 여직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>서울 서대문구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>09:00 ~ 18:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1615795434-5412 (1).jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">국민홈식자재마트</a>
                                    <span>청정원대리점 여직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>서울 서대문구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>09:00 ~ 18:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>시급 8,720 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="freelance">단기</span></a>
                                    <span class="pull-right">상시채용</span>
                                </div>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">풀 타임</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">국민홈식자재마트</a>
                                        <span>직원대모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>서울 서대문구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>근무시간 협의가능</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>회사내규</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1615795434-5412.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">국민홈식자재마트</a>
                                    <span>직원대모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>서울 서대문구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>근무시간 협의가능</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>회사내규</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span>풀 타임</span></a>
                                    <span class="pull-right">~ 2021.06.01(화)</span>
                                </div>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#"><span class="btn btn-primary">아르바이트</span></a>
                                    <span class="tr-title">
                                        <a href="job-details.html">U-마트</a>
                                        <span>판촉주부사원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>서울 서대문구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>08:30 ~ 18:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>월급 2,000,000 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1616660364-9656.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">U-마트</a>
                                    <span>판촉주부사원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>서울 서대문구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:30 ~ 18:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>월급 2,000,000 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="part-time">아르바이트</span></a>
                                    <span class="pull-right">~ 2021.04.17(토)</span>
                                </div>			
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">풀타임</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">굿모닝할인마트 효성점</a>
                                        <span>매장관리/납품 직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>인천광역시 계양구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>근무시간 협의가능</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>회사내규</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1607935677-4624.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">굿모닝할인마트 효성점</a>
                                    <span>매장관리/납품 직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>인천광역시 계양구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>근무시간 협의가능</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>회사내규</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span>풀타임</span></a>
                                    <span class="pull-right">채용시까지</span>
                                </div>																				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">아르바이트</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">하모니마트 시흥능곡역</a>
                                        <span>포장,진열,판매직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기 시흥시</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>08:00 ~ 18:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1614225895-1911.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">하모니마트 시흥능곡역</a>
                                    <span>포장,진열,판매직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>경기 시흥시</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 ~ 18:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>시급 8,720원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="part-time">아르바이트</span></a>
                                    <span class="pull-right">채용시까지</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">단기</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">홈마트 상현점</a>
                                        <span>반찬 포장 및 판매 직원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기 용인시</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>09:00 ~ 15:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>월급 2,700,000 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1614934255-5373.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">홈마트 상현점</a>
                                    <span>반찬 포장 및 판매 직원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>경기 용인시</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>09:00 ~ 15:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>월급 2,700,000 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="freelance">단기</span></a>
                                    <span class="pull-right">~ 2021.05.06(목)</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">풀타임</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">에이스마트 연희점</a>
                                        <span>반찬코너 주방보조 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>인천광역시 서구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>08:00 ~ 12:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1615255502-9157.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">에이스마트 연희점</a>
                                    <span>반찬코너 주방보조 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>인천광역시 서구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 ~ 12:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>시급 8,720 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span>풀타임</span></a>
                                    <span class="pull-right">채용시까지</span>
                                </div>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">아르바이트</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">국민홈식자재마트</a>
                                        <span>계산원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>서울 서대문구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>18:00 ~ 23:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>회사내규</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1615795434-5412.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">국민홈식자재마트</a>
                                    <span>계산원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>서울 서대문구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>18:00 ~ 23:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>회사내규</li>
                                </ul>	
                                <div class="time">
                                    <a href="#"><span class="part-time">아르바이트</span></a>
                                    <span class="pull-right">상시채용</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">단기</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">U-마트</a>
                                        <span>오전카운터 및 진열사원 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>서울 서대문구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>09:00 ~ 21:00</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>회사내규</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1616660364-9656.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">U-마트</a>
                                    <span>오전카운터 및 진열사원 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>서울 서대문구 </li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>09:00 ~ 21:00</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>회사내규</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="freelance">단기</span></a>
                                    <span class="pull-right">채용시까지</span>
                                </div>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#" class="btn btn-primary">풀타임</a>
                                    <span class="tr-title">
                                        <a href="job-details.html">한국유통 신촌점</a>
                                        <span>open 직원 대모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>서울 마포구</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>시간협의 가능</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1616991100-4198.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">한국유통 신촌점</a>
                                    <span>open 직원 대모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>서울 마포구</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>시간협의 가능</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>시급 8,720 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span>풀타임</span></a>
                                    <span class="pull-right">상시채용</span>
                                </div>				
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="job-item">
                            <div class="item-overlay">
                                <div class="job-info">
                                    <a href="#"><span class="btn btn-primary">아르바이트</span></a>
                                    <span class="tr-title">
                                        <a href="job-details.html">한국유통 예산점</a>
                                        <span>야채팀장 모집</span>
                                    </span>
                                    <ul class="tr-list job-meta">
                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>충청남도 예산군</li>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>07:30 ~ 19:30</li>
                                        <li><i class="fa fa-money" aria-hidden="true"></i>월급 3,000,000 원</li>
                                    </ul>
                                    <ul class="job-social tr-list listing-2">
                                        <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                        <li><a href="job-details.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>										
                            </div>								
                            <div class="job-info">
                                <div class="company-logo">
                                    <img src="images/martlogo/mr-logo-1616991279-4963.jpg" alt="images" class="img-fluid">
                                </div>
                                <span class="tr-title">
                                    <a href="#">한국유통 예산점</a>
                                    <span>야채팀장 모집</span>
                                </span>
                                <ul class="tr-list job-meta">
                                    <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>충청남도 예산군</li>
                                    <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>07:30 ~ 19:30</li>
                                    <li><span><i class="fa fa-money" aria-hidden="true"></i></span>월급 3,000,000 원</li>
                                </ul>
                                <div class="time">
                                    <a href="#"><span class="part-time">아르바이트</span></a>
                                    <span class="pull-right">~ 2021.05.20(목)</span>
                                </div>			
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->										
            </div><!-- /.tab-pane -->
            
        </div><!-- /.tab-content -->		
