.recruit .area_section {   
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
}

.button-search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
}

.button-search-reset {
    width: 100%;
    height: 100%;
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #949494;
}