.recruit .area-section {   
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
}

.job-summary .area-section {   
    padding: 20px;
    background-color: white;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    margin-bottom: 30px;
}

.button-search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
}

.button-search-reset {
    width: 100%;
    height: 100%;
    border: 1px solid #DDD;
    border-radius: 5px;
    color: #949494;
}

.recruit-detail-info {
    border: 1px solid #ebebeb;
    border-top-color: #999;
}

.widget.short-info {
    border: 1px solid #ebebeb;
    border-top-color: #999;
}

.btn-apply {
    color: #fff;
    background-color: #ff8d5a;
    border-color: #ff8d5a;
}

.btn-apply:hover{
    color:#fff;
    background-color:#ff7535;
    border-color:#ff7535
}

.button-recruit-apply {
    width: 100%;
    border: 1px solid #ff8d5a;
    color: #fff;
    background: #ff8d5a;
    font-family: "Malgun Gothic",sans-serif !important;
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 54px;
    cursor:pointer;
}

.button-recruit-apply:hover {
    background-color:#ff7535;
    border-color:#ff7535
}

.button-recruit-apply-cancel {
    width: 100%;
    border: 1px solid #dc3545;
    color: #fff;
    background: #dc3545;
    font-family: "Malgun Gothic",sans-serif !important;
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 54px;
    cursor:pointer;
}

.button-recruit-apply-cancel:hover {
    background-color:#c82333;
    border-color:#c82333
}

.button-recruit-list {
    width: 100%;
    border: 1px solid #6c757d;
    color: #6c757d;
    background: white;
    font-family: "Malgun Gothic",sans-serif !important;
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 54px;
    cursor: pointer;
}