.tr-breadcrumb-user-page {
    color: #fff;
    padding: 30px 0;
    overflow: hidden;
    background-image: url(/assets/images/bg/banner1.jpg);
}

.findPostCode {
    line-height: 7;
}

/* .birthyearDiv {
    line-height: 3;
} */

.selectpicker {
    margin-bottom: 20px;
    width: 100%;
}

.photoUploadBtn {
    width: 80%;
}

.user-photo {
    width: 80%;
}

.hopeWorkingType {
    margin-bottom: 20px;
}

.hopeRegion {
    margin-bottom: 20px;
}

.hopeJobKind {
    margin-bottom: 20px;
}
