.tr-breadcrumb-user-page {
    color: #fff;
    padding: 30px 0;
    overflow: hidden;
    background-image: url(/assets/images/bg/banner1.jpg);
}

.findPostCode {
    line-height: 7;
}

.birthyearDiv {
    line-height: 3;
}
