<ul class="nav nav-tabs profile-tabs section" role="tablist">
    <li><a href="/mypage/user" id="user"><i class="fa fa-life-ring" aria-hidden="true"></i>내 정보</a></li>
    <li><a href="/mypage/user/resume" id="resume"><span><i class="fa fa-user-o" aria-hidden="true"></i></span> 내 이력서</a></li>
    <li><a href="/mypage/user/edit" id="edit"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> 이력서 수정</a></li>
    <li><a href="/mypage/user/scrap" id="scrap"><span><i class="fa fa-bookmark-o" aria-hidden="true"></i></span> 스크랩한 공고</a></li>
    <li><a href="/mypage/user/apply" id="apply"><span><i class="fa fa-clone" aria-hidden="true"></i></span> 지원 현황</a></li>
    <li><a href="/mypage/user/closeAccount" id="closeAccount"><span><i class="fa fa-remove" aria-hidden="true"></i></span> 탈퇴하기</a></li>
</ul>	
