<%- contentFor('style') %> <%- contentFor('content') %>
<div class="tr-profile section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="tr-sidebar">
                    <ul class="nav nav-tabs profile-tabs section" role="tablist">
                        <li role="presentation"><a href="/mypage/user" ><i class="fa fa-life-ring" aria-hidden="true"></i>내 정보</a></li>
                        <li role="presentation"><a href="/mypage/user/create"><span><i class="fa fa-plus" aria-hidden="true"></i></span> 이력서 생성</a></li>
                        <li role="presentation"><a href="/mypage/user/resume" ><span><i class="fa fa-user-o" aria-hidden="true"></i></span> 내 이력서</a></li>
                        <li role="presentation"><a class="active" href="/mypage/user/edit" ><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> 이력서 수정</a></li>
                        <li role="presentation"><a href="/mypage/user/bookmark" ><span><i class="fa fa-bookmark-o" aria-hidden="true"></i></span> 북마크</a></li>
                        <li role="presentation"><a href="/mypage/user/support" ><span><i class="fa fa-clone" aria-hidden="true"></i></span> 지원 현황</a></li>
                        <li role="presentation"><a href="/mypage/user/remove" ><span><i class="fa fa-remove" aria-hidden="true"></i></span> 계정 삭제</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane bookmark" id="bookmark">
                        <div class="row">
                            <div class="col-md-4 remove-item">
                                <div class="job-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="item-overlay">
                                        <div class="job-info">
                                            <a href="#" class="btn btn-primary">풀 타임</a>
                                            <span class="tr-title">
                                                <a href="job-details.html">굿모닝할인마트 효성점</a>
                                                <span><a href="#">정육 직원 모집</a></span>
                                            </span>
                                            <ul class="tr-list job-meta">
                                                <li><i class="fa fa-map-signs" aria-hidden="true"></i>충남 아산 / 충북 오창</li>
                                                <li><i class="fa fa-briefcase" aria-hidden="true"></i>07:00 ~ 22:00</li>
                                                <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                            </ul>
                                            <ul class="job-social tr-list">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="company-logo">
                                            <img src="assets/images/martlogo/mr-logo-1607935677-4624.jpg" alt="images" class="img-fluid" />
                                        </div>
                                        <span class="tr-title">
                                            <a href="#">굿모닝할인마트 효성점</a>
                                            <span><a href="#">정육 직원 모집</a></span>
                                        </span>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i>충남 아산 / 충북 오창</li>
                                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>07:00 ~ 22:00</li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                        </ul>
                                        <div class="time">
                                            <a href="#"><span>풀 타임</span></a>
                                            <span class="pull-right">23시간 전 북마크</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 remove-item">
                                <div class="job-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="item-overlay">
                                        <div class="job-info">
                                            <a href="#" class="btn btn-primary">아르바이트</a>
                                            <span class="tr-title">
                                                <a href="job-details.html">하모니마트 시흥능곡역</a>
                                                <span><a href="#">카운터 여자알바 모집</a></span>
                                            </span>
                                            <ul class="tr-list job-meta">
                                                <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기 이천시 경충대로</li>
                                                <li><i class="fa fa-briefcase" aria-hidden="true"></i>09:00 ~ 09:00</li>
                                                <li><i class="fa fa-money" aria-hidden="true"></i>월급 3,800,000 원</li>
                                            </ul>
                                            <ul class="job-social tr-list">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="company-logo">
                                            <img src="assets/images/martlogo/mr-logo-1614225895-1911.jpg" alt="images" class="img-fluid" />
                                        </div>
                                        <span class="tr-title">
                                            <a href="#">하모니마트 시흥능곡역</a>
                                            <span><a href="#">카운터 여자알바 모집</a></span>
                                        </span>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i>경기 이천시 경충대로</li>
                                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>09:00 ~ 09:00</li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i>월급 3,800,000 원</li>
                                        </ul>
                                        <div class="time">
                                            <a href="#"><span class="part-time">아르바이트</span></a>
                                            <span class="pull-right">하루 전 북마크</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 remove-item">
                                <div class="job-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="item-overlay">
                                        <div class="job-info">
                                            <a href="#" class="btn btn-primary">풀 타임</a>
                                            <span class="tr-title">
                                                <a href="job-details.html">에이스마트 연희점</a>
                                                <span><a href="#">농산직원 모집</a></span>
                                            </span>
                                            <ul class="tr-list job-meta">
                                                <li><i class="fa fa-map-signs" aria-hidden="true"></i>대구 달성군</li>
                                                <li><i class="fa fa-briefcase" aria-hidden="true"></i>근무시간 협의가능</li>
                                                <li><i class="fa fa-money" aria-hidden="true"></i>회사 내규</li>
                                            </ul>
                                            <ul class="job-social tr-list"></ul>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="company-logo">
                                            <img src="assets/images/martlogo/mr-logo-1615255502-9157.jpg" alt="images" class="img-fluid" />
                                        </div>
                                        <span class="tr-title">
                                            <a href="#">에이스마트 연희점</a>
                                            <span><a href="#">농산직원 모집</a></span>
                                        </span>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i>대구 달성군</li>
                                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>근무시간 협의가능</li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i>회사 내규</li>
                                        </ul>
                                        <div class="time">
                                            <a href="#"><span>풀 타임</span></a>
                                            <span class="pull-right">2021.03.05 북마크</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 remove-item">
                                <div class="job-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="item-overlay">
                                        <div class="job-info">
                                            <a href="#" class="btn btn-primary">아르바이트</a>
                                            <span class="tr-title">
                                                <a href="job-details.html">국민홈식자재마트</a>
                                                <span><a href="#">마트 오후계산원 모집</a></span>
                                            </span>
                                            <ul class="tr-list job-meta">
                                                <li><i class="fa fa-map-signs" aria-hidden="true"></i>인천 연수구</li>
                                                <li><i class="fa fa-briefcase" aria-hidden="true"></i>16:00 ~ 22:00</li>
                                                <li><i class="fa fa-money" aria-hidden="true"></i>월급 1,500,000 원</li>
                                            </ul>
                                            <ul class="job-social tr-list">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="company-logo">
                                            <img src="assets/images/martlogo/mr-logo-1615795434-5412.jpg" alt="images" class="img-fluid" />
                                        </div>
                                        <span class="tr-title">
                                            <a href="#">국민홈식자재마트</a>
                                            <span><a href="#">마트 오후계산원 모집</a></span>
                                        </span>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i>인천 연수구</li>
                                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>16:00 ~ 22:00</li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i>월급 1,500,000 원</li>
                                        </ul>
                                        <div class="time">
                                            <a href="#"><span class="part-time">아르바이트</span></a>
                                            <span class="pull-right">하루 전 북마크</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 remove-item">
                                <div class="job-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="item-overlay">
                                        <div class="job-info">
                                            <a href="#" class="btn btn-primary">단기</a>
                                            <span class="tr-title">
                                                <a href="job-details.html">유-마트</a>
                                                <span><a href="#">청정원대리점 여직원 모집</a></span>
                                            </span>
                                            <ul class="tr-list job-meta">
                                                <li><i class="fa fa-map-signs" aria-hidden="true"></i>경남 양산시</li>
                                                <li><i class="fa fa-briefcase" aria-hidden="true"></i>09:00 ~ 18:00</li>
                                                <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                            </ul>
                                            <ul class="job-social tr-list">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="job-info">
                                        <div class="company-logo">
                                            <img src="assets/images/martlogo/mr-logo-1616660364-9656.jpg" alt="images" class="img-fluid" />
                                        </div>
                                        <span class="tr-title">
                                            <a href="#">유-마트</a>
                                            <span><a href="#">청정원대리점 여직원 모집</a></span>
                                        </span>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i>경남 양산시</li>
                                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>09:00 ~ 18:00</li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i>시급 8,720 원</li>
                                        </ul>
                                        <div class="time">
                                            <a href="#"><span class="freelance">단기</span></a>
                                            <span class="pull-right">23시간 전 북마크</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.tr-profile -->

    <%- contentFor('script') %>
</div>
