<%= footer %>
<div class="footer">
    <div class="footer-top" style="padding: 40px 0">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 center-block">
                    <img src="images/others/ft_logo.png" style="padding-top: 15%" />
                </div>
                <!-- /.col-sm-3 -->
                <div class="col-sm-9">
                    <div class="footer-widget">
                        <ul class="tr-list" style="font-size: 12px; padding-left: 5%">
                            <li>개인정보처리방침 협회소개 서비스이용약관</li>
                            <li>사단법인 한국마트협회 | 서울시 강서구 발산로40 식품종합상가 3층(외발산동, 강서농산물시장)</li>
                            <li>TEL: 02-305-6100, 6110 | FAX: 02-2640-6400 | email : koreamart6100@gmail.com | 회장 : 김성민</li>
                            <li>COPYRIGHT by 사단법인 한국마트협회. ALL RIGHTS RESERVED.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-top -->
</div>
<!-- /.footer -->