<%- contentFor('style') %> <%- contentFor('content') %>
<div class="tr-breadcrumb bg-image section-before">
    <div class="container">
        <div class="breadcrumb-info text-center">
            <div class="page-title">
                <h1>회원가입</h1>
                <span>회원가입 하세요..</span>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- tr-breadcrumb -->
<div class="tr-account section-padding">
    <div class="container text-center">
        <div class="user-account">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation"><a id="usertab" class="active" href="#seeker" aria-controls="seeker" role="tab" data-toggle="tab">구직자</a></li>
                <li role="presentation"><a id="marttab" href="#employers" aria-controls="employers" role="tab" data-toggle="tab">마트 회원</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="seeker">
                    <div class="account-content">
                        <form action="usercreate" class="tr-form" method="POST" id="user-signup-form">
                            <input type="hidden" value="U" name="usertype" />
                            <input type="hidden" value="Y" name="active" />
                            <div>
                                <p>ID / PW</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="아이디" name="userid" id="user-loginid" maxlength="15" />
                            </div>
                            <!-- <button type="button" class="btn btn-primary idcheckbtn">아이디 중복 체크</button> -->
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="비밀번호" name="password" id="user-password"  maxlength="10"/>
                            </div>
                            <!-- <div class="form-group">
                                <input type="password" class="form-control" placeholder="비밀번호 확인">
                            </div> -->
                            <!-- <div>
                                <p>초간단인증</p>
                            </div>
                            <div>
                                휴대폰 인증
                            </div>
                            <div>
                                이메일 인증
                            </div> -->
                            <button type="button" class="btn btn-primary" id="user-login" form="user-signup-form">가입하기</button>
                        </form>
                        <div class="new-user text-center">
                            <span>이미 회원가입을 했다면, <a href="../auth/login">로그인</a> </span>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="employers">
                    <div class="account-content">
                        <form action="usercreate" class="tr-form" method="POST" id="mart-signup-form">
                            <input type="hidden" value="M" name="usertype" />
                            <input type="hidden" value="Y" name="active" />
                            <div>
                                <p>마트 정보/사업자번호</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="마트명" name="martName" id="martName"  maxlength="45"/>
                            </div>
                            <div class="form-group form-inline">
                                <input type="text" class="form-control width-100 m-r-10 numberonly" name="bizno1" id="bizno1" name="bizno" maxlength="3" /> 
                                <input type="text" class="form-control width-70 m-r-10 numberonly" name="bizno2" id="bizno2" name="bizno" maxlength="2" /> 
                                <input type="text" class="form-control width-120 numberonly" name="bizno3" id="bizno3" name="bizno" maxlength="5" />
                            </div>
                            <!-- <div>
                                <button type="button" id="bizNocheck">사업자번호 체크</button>
                            </div> -->
                            <div>
                                <p>ID / PW</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="아이디" name="userid" id="mart-loginid"  maxlength="15"/>
                            </div>
                            <!-- <button type="button" class="btn btn-primary idcheckbtn">아이디 중복 체크</button> -->
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="비밀번호" name="password" id="mart-password"  maxlength="10"/>
                            </div>
                            <!-- <div class="form-group">
                                <input type="password" class="form-control" placeholder="비밀번호 확인" />
                            </div> -->
                            <button type="button" id="mart-login" class="btn btn-primary" form="mart-signup-form">회원가입</button>
                        </form>
                        <div class="new-user text-center">
                            <span>이미 회원가입을 했다면. <a href="../auth/login">로그인</a> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- /.tr-account-->

<%- contentFor('script') %>
<script>
    let message = '<%=message %>';

    $(document).ready(function () {
        if (message.length > 0) { alert("회원 가입이 실패했습니다. 다시 시도해 주시기 바랍니다."); }

        // 아이디 중복 체크
        var idcheckflag = false;
        var usermartflag = true;
        // 특수문자 구분하는 정규식
        var specialCheck = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
        var userIdCheck = RegExp(/^[A-Za-z0-9_\-]{4,15}$/);
        // 탭 클릭시 플래그 변경, 유저 및 마트 구분
        $("#marttab").click(function () {
            usermartflag = false;
        });
        $("#usertab").click(function () {
            usermartflag = true;
        });

        $("#user-login").click(function () {
            // 아이디 중복체크 먼저 시작.
            loginIdCheck();

            // 아이디 유효성 체크
            if ($("#user-loginid").val() == null || $("#user-loginid").val() == "") {
                alert("아이디 입력은 필수입니다."); //아이디 빈칸 포함 안됨 }
                $("#user-loginid").focus();
                return;
            } else if ($("#user-loginid").val().length > 15 || $("#user-loginid").val().length < 4) {
                alert("아이디는 4~15 글자로 맞추어주세요. ");
                $("#user-loginid").focus();
                $("#user-loginid").val("");
                return;
            } else if (specialCheck.test($("#user-loginid").val())) {
                alert("아이디는 특수문자를 포함 할 수 없습니다.");
                $("#user-loginid").focus();
                $("#user-loginid").val("");
                return;
            }else if(userIdCheck.test($("#user-loginid").val())== false){
                alert("아이디는 영어 대/소문자와 숫자, - _ 로 구성 가능합니다.");
                $("#user-loginid").focus();
                $("#user-loginid").val("");
                return;
            } else if (checkSpace($("#user-loginid").val())) {
                alert("아이디는 공백이 들어올 수 없습니다.");
                $("#user-loginid").focus();
                $("#user-loginid").val("");
                return;
            }
            // 페스워드체크
            if ($("#user-password").val() == null || $("#user-password").val() == "") {
                alert("비밀번호 입력은 필수입니다."); //아이디 빈칸 포함 안됨 }
                $("#user-password").focus();
                return;
            } else if ($("#user-password").val().length > 10 || $("#user-password").val().length < 4) {
                alert("비밀번호는 4~10 글자로 맞추어주세요.  ");
                $("#user-password").focus();
                $("#user-password").val("");
                return;
            } else if (checkSpace($("#user-password").val())) {
                alert("비밀번호 공백이 들어올 수 없습니다.");
                $("#user-password").focus();
                $("#user-password").val("");
                return;
            }

            if (idcheckflag == false) {
                alert("중복되는 아이디입니다. 다른 아이디를 입력해 주세요.");
                return;
            } else {
                $("#user-signup-form").submit();
            }
        });
        $("#mart-login").click(function () {
            // 마트 이름은 1글자 이상이면 되며, 최대 글자인 50자는 maxlength=45로 제한되어 있다.
            if ($("#martName").val() == "") {
                alert("마트 이름의 입력은 필수입니다."); //마트 이름 공백 안됨
                $("#martName").focus();
                return;
            }
            // 사업자번호 정상인지 체크만 하는 부분.
            var pBizno = $("#bizno1").val() + $("#bizno2").val() + $("#bizno3").val(); //사업자번호
            if (!checkCorporateRegistrationNumber(pBizno)) {
                alert("유효한 사업자번호를 입력하세요");
                $("#bizno1").focus();
                return;
            }

            // 아이디 중복체크 먼저 시작.
            loginIdCheck();

            // 아이디 유효성 체크
            if ($("#mart-loginid").val() == null || $("#mart-loginid").val() == "") {
                alert("아이디 입력은 필수입니다."); //아이디 빈칸 포함 안됨 }
                $("#mart-loginid").focus();
                return;
            } else if ($("#mart-loginid").val().length > 15 || $("#mart-loginid").val().length < 4) {
                alert("아이디는 4~15 글자로 맞추어주세요.  ");
                $("#mart-loginid").focus();
                $("#mart-loginid").val("");
                return;
            } else if (specialCheck.test($("#mart-loginid").val())) {
                alert("아이디는 특수문자를 포함 할 수 없습니다.");
                $("#mart-loginid").focus();
                $("#mart-loginid").val("");
                return;
            }else if(userIdCheck.test($("#mart-loginid").val())== false){
                alert("아이디는 영어 대/소문자와 숫자, - _ 로 구성 가능합니다.");
                $("#mart-loginid").focus();
                $("#mart-loginid").val("");
                return;
            } else if (checkSpace($("#mart-loginid").val())) {
                alert("아이디는 공백이 들어올 수 없습니다.");
                $("#mart-loginid").focus();
                $("#mart-loginid").val("");
                return;
            }
            // 페스워드체크
            if ($("#mart-password").val() == null || $("#mart-password").val() == "") {
                alert("페스워드 입력은 필수입니다."); //아이디 빈칸 포함 안됨 }
                return;
            } else if ($("#mart-password").val().length > 10 || $("#mart-password").val().length < 4) {
                alert("페스워드는 4~10 글자로 맞추어주세요.  ");
                $("#mart-password").focus();
                $("#mart-password").val("");
                return;
            }else if (checkSpace($("#mart-password").val())) {
                alert("페스워드는 공백이 들어올 수 없습니다.");
                $("#mart-password").focus();
                $("#mart-password").val("");
                return;
            }
            if (idcheckflag == false) {
                alert("중복되는 아이디입니다. 다른 아이디를 입력해 주세요.");
                return;
            } else {
                $("#mart-signup-form").submit();
            }
        });
        // 사업자번호 체크
        $("#bizNocheck").click(function () {
            // var pBizno = $("#bizno").val(); //사업자번호
            // if (!checkCorporateRegistrationNumber(pBizno.replaceAll("-", ""))) {
            //     alert("유효한 사업자번호를 입력하세요");
            //     $("#bizno").focus();
            //     $("#bizno").val("");
            //     return;
            // }
            // let rgno = pBizno.replaceAll("-", "");
            // console.log(rgno);
            // let url = "https://teht.hometax.go.kr/wqAction.do?actionId=ATTABZAA001R08&screenId=UTEABAAA13&popupYn=false&realScreenId=";
            // let bodyData =
            //     '<map id="ATTABZAA001R08"><pubcUserNo/><mobYn>N</mobYn><inqrTrgtClCd>1</inqrTrgtClCd><txprDscmNo>' +
            //     '1348157936' +
            //     '</txprDscmNo><dongCode>81</dongCode><psbSearch>Y</psbSearch><map id="userReqInfoVO"/></map>';
            // doPostCall(url, bodyData, {
            //     headers: {
            //         "Content-Type": "application/xml;",
            //     },
            // })
            // .success(function (json) {
            //     alert("사업자등록번호 조회 성공..." + json);
            // })
            // .fail(function () {
            //     alert("사업자등록번호 조회 오류...");
            // });
        });

        function loginIdCheck() {
            let loginId = usermartflag ? $("#user-loginid").val() : $("#mart-loginid").val();
            // 아이디 중복체크
            doPostCallSync("/users/checkid", {
                loginid: loginId,
            })
            .success(function (json) {
                // 아이디 중복체크가 false 이면 가입이 불가능.
                if (json.result == "success") {
                    if (json.data.tf == false) {
                        idcheckflag = false;
                    } else {
                        // alert("사용 가능한 아이디 입니다.");
                        idcheckflag = true;
                        return;
                    }
                }
            })
            .fail(function () {
                alert("이미 존재하는 아이디입니다. 다른 아이디를 입력해 주세요.");
            });
        }

        // 사업자번호 체크하는 정규식.
        function checkCorporateRegistrationNumber(value) {
            var valueMap = value
                .replace(/-/gi, "")
                .split("")
                .map(function (item) {
                    return parseInt(item, 10);
                });

            if (valueMap.length === 10) {
                var multiply = new Array(1, 3, 7, 1, 3, 7, 1, 3, 5);
                var checkSum = 0;

                for (var i = 0; i < multiply.length; ++i) {
                    checkSum += multiply[i] * valueMap[i];
                }

                checkSum += parseInt((multiply[8] * valueMap[8]) / 10, 10);
                return Math.floor(valueMap[9]) === 10 - (checkSum % 10);
            }

            return false;
        }

        // 공백문자 찾기
        function checkSpace(str) {
            if (str.search(/\s/) != -1) {
                return true;
            } else {
                return false;
            }
        }


    });
</script>
