<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Theme Region">
   	<meta name="description" content="">

    <title><%=title %></title>

   	<!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="/assets/css/jquery-te.css"> 
    <link rel="stylesheet" href="/assets/css/slick.css">  
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="stylesheet" href="/assets/css/helper.css">

	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">


	<!-- icons -->
	<link rel="icon" href="images/ico/favicon.ico">	
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/ico/apple-touch-icon-57-precomposed.png">
    <!-- icons -->
	<%-style %>
  </head>
  <body>
	<header class="tr-header">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                    </button>
					<a class="navbar-brand" href="/"><img class="img-fluid" src="/assets/images/logo.png" alt="Logo"></a>
				</div>
				<!-- /.navbar-header -->
				
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="nav navbar-nav">
					<% if (!user || user.Type == 'U') { %>
						<li class="m-l-30"><a href="/recruit/list">구인 공고</a></li>
						<li class="m-l-30"><a href="/recruit/recommend">추천 공고</a></li>
						<li class="m-l-30"><a href="/notice/list">공지사항</a></li>
					<%} else { %>
						<li class="m-l-30"><a href="/mart/recruit">지원자 채용</a></li>
						<li class="m-l-30"><a href="listing.html">이력서</a></li>
						<li class="m-l-30"><a href="/notice/list">공지사항</a></li>
					<% } %>
					</ul>
				</div>

				<div class="navbar-right">			
					<ul class="sign-in tr-list">
						<li><i class="fa fa-user"></i></li>
						<% if (user) { %>
							<li><a href="/auth/logout">로그아웃 </a></li>
							<% if (user.Type == 'U') { %>
							<li><a href="/mypage/user">유저 정보관리</a></li>
							<%} else if(user.Type == 'M'){ %>
							<li><a href="/mypage/mart">마트 정보관리</a></li>
							<% }else{ %>
							<li><a href="/notpage">어드민 정보관리</a></li>
							<% } %>
						<%} else { %>
							<li><a href="/auth/login">로그인 </a></li>
							<li><a href="/users/signup">회원 가입</a></li>
						<% } %>
					</ul><!-- /.sign-in -->					
					<% if (!user || user.Type == 'M') { %>
					<!-- <a href="job-post.html" class="btn btn-primary">마트 서비스</a> -->
					<% } %>
				</div><!-- /.nav-right -->
			</div><!-- /.container -->
		</nav><!-- /.navbar -->
	</header><!-- /.tr-header -->

	<%- content %>

	<div class="footer">
		<div class="footer-top" style="padding: 40px 0">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 center-block">
						<img src="/assets/images/others/ft_logo.png" style="padding-top: 15%" />
					</div>
					<!-- /.col-sm-3 -->
					<div class="col-sm-9">
						<div class="footer-widget">
							<ul class="tr-list" style="font-size: 12px; padding-left: 5%">
								<li>개인정보처리방침 협회소개 서비스이용약관</li>
								<li>사단법인 한국마트협회 | 서울시 강서구 발산로40 식품종합상가 3층(외발산동, 강서농산물시장)</li>
								<li>TEL: 02-305-6100, 6110 | FAX: 02-2640-6400 | email : koreamart6100@gmail.com | 회장 : 김성민</li>
								<li>COPYRIGHT by 사단법인 한국마트협회. ALL RIGHTS RESERVED.</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.footer-top -->
	</div>
	<!-- /.footer -->

    <!-- JS -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/inview.min.js"></script>
    <script src="/assets/js/counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery-te.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/common.js"></script>

	<%-script %>

</body>
</html>	